// 
.navbar-default .nav li a {
  display: block;
}
.login_dropdown .dropdown-menu {
  width: 206px;
}
.login_dropdown .dropdown-menu .dropdown-item{
  padding: 10px;
  outline: none;
}
.login_dropdown .dropdown-menu .dropdown-item:hover, .login_dropdown .dropdown-menu .dropdown-item.active, .login_dropdown .dropdown-menu .dropdown-item:active{
  background-image: linear-gradient(to right, #dddddd 0%, #ffffff 130%);
  color: #212529; 
}

.login_dropdown .settings_dropdown .btn-grad{
  padding: 0;
  background-image: inherit;
  background-color: inherit;
  border: none;
  color: #000;
  font-size: 18px;
}
// .settings_dropdown.nav .open> .btn-grad, .settings_dropdown.nav .open> .btn-grad :hover, .settings_dropdown.nav .open> .btn-grad:focus{
//   background-image: inherit;
// }
.login_dropdown .settings_dropdown .btn-grad:hover, .login_dropdown .settings_dropdown .btn-grad:focus{
  background-image: inherit;
  background-color: inherit;
}
.login_dropdown .settings_dropdown .btn-grad:not(:disabled):not(.disabled):active{
  background-image: inherit;
  background-color: inherit;
}
.login_dropdown .settings_dropdown.navbar-right .dropdown-menu{
  right: 0px;
  left: -80px !important;
}
.login_dropdown .settings_dropdown .dropdown-menu {
  width: auto;
}
.dashbord_header .nav.navbar-right .react-bootstrap-daterangepicker-container a {
  color: #999;
  background-color: #fff;
  border: 1px solid #999;
  background-image: linear-gradient(to right, #ffffff 0%, #999999 250%);
  border-radius: 4px;
  padding: 8px 12px;
  min-height: 35px;
}
.dashbord_header .nav.navbar-right .react-bootstrap-daterangepicker-container a:hover{
  background-image: linear-gradient(to right, #dddddd 0%, #ffffff 80%);
}
.metismenu .router-link.list_active span.arrow {
  font-size: 15px;
}
.metismenu .router-link.list_active.dropdown_arrow span.arrow{
  transform: rotate(-90deg);
}